{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iPortfolio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  
  <!-- Vendor CSS Files -->
  
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- Custom Font CSS -->
    <style>
      @font-face {
          font-family: 'NeueMontreal';
          src: url("{% static 'assets/fonts/NeueMontreal-Regular.woff2' %}") format('woff2');
          font-weight: normal;
          font-style: normal;
      }
  
      body {
          font-family: 'NeueMontreal', sans-serif;
      }
    </style>

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Mar 12 2024 with Bootstrap v5.3.3
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/mama_square.jpeg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'home' %}">Елена Домницкая</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://vk.com/psihocosmetolog" class="vk"><i class="bx bxl-vk"></i></a>
          <a href="https://t.me/psihokosmetolog" class="Telegram"><i class="bx bxl-telegram"></i></a>
          <a href="https://www.instagram.com/helen_domnitskaya/" class="instagram"><i class="bx bxl-instagram"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Главная</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Обо мне</span></a></li>
          <li><a href="#testimonials" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Услуги</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Контакты</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Елена Домницкая</h1>
      <p><span class="typed" data-typed-items="Клинический психолог, Специалист по красоте и психическому здоровью, Эксперт в области косметики и ухода за кожей"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Обо мне</h2>
          <p>Опытный клинический психолог и эксперт по красоте с обширной подготовкой в области косметологии, психологии и трихологии. Специализируясь на психологии и косметологии, я предлагаю индивидуальные консультации и целостную программу омоложения для людей, стремящихся к красоте, молодости и внутренней гармонии в любом возрасте.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/mama_square.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Специалист по красоте и психическому здоровью.</h3>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>🌸</strong> <span>Обучение по косметике: Ингредиенты и уход за кожей.</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>🧪</strong> <span>Косметическая химия: Косметология, трихология, составы и этикетки. </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>🏢</strong> <span>Отраслевая экспертиза: Консультирование косметических компаний. </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>🧘</strong> <span>Психокосметология: Улучшение внешности и психического состояния.</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>🌟</strong> <span>Омоложение: Обучение и разработка омолаживающих программ.</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>💆</strong> <span>Здоровье волос: Лечение выпадения волос.</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>🧠</strong> <span>Психологические техники: Методы для внутреннего благополучия.</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Образование & Специализация</h2>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-mortarboard"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter">1991</span>
              <p>Московская медицинская академия им. И. М. Сеченова</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-mortarboard"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter">2000</span>
              <p>Квалификация в области косметологии</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-mortarboard"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter">2010</span>
              <p>Окончила Профессиональный институт психологии с отличием</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter">2014</span>
              <p>Сертифицированный эмоционально-образный терапевт</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter">2015</span>
              <p>«Трихология. Диагностика лечения заболевания волос» – РУДН</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter">2018</span>
              <p>Квалификация по клинической психологии – РГСУ</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter">2018</span>
              <p>Сертифицированный арт - терапевт</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter">2020</span>
              <p>Специалист по структурному и транзактному анализу</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Услуги</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  Обучение косметике, ингредиентам и уходу за кожей.
                </p>
                <h3>Обучение</h3>
                <h4>Цена - по договоренности</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Обучение косметической химии, косметологии, трихологии, составам косметики и этикеткам.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Обучение</h3>
                <h4>Цена - по договоренности</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Консультирование косметических компаний по вопросам производства, позиционирования, составам и продажам.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Отраслевая экспертиза</h3>
                <h4>Цена - по договоренности</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Улучшение внешнего вида, борьбы со старением и морщинами с помощью психологии.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Психокосметология</h3>
                <h4>Цена - по договоренности</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Восстановление психического состояния после неудачных косметических процедур.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Психокосметология</h3>
                <h4>Цена - по договоренности</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Коррекция кожных заболеваний.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Психокосметология</h3>
                <h4>Цена - по договоренности</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Обучение системе омоложения и разработка омолаживающих программ.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Омоложение</h3>
                <h4>Цена - по договоренности</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Помощь в лечении выпадения волос.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Здоровье волос</h3>
                <h4>Цена - по договоренности</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Классические методы для внутреннего благополучия.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Психологические техники</h3>
                <h4>Цена - по договоренности</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Контакты</h2>
          <p>Для связи и поиска информации о текущих тренингах, расписании занятий и индивидуальных приемов вы можете использовать следующие каналы коммуникации.
          </p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-telegram"></i>
                <h4>Telegram:</h4>
                <p>https://t.me/psihokosmetolog</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>delin25@mail.ru</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>